- provide(:title, 'Admin Add New Product')

%section#right-pane 
  .row.admin-header
    .span12
      %h3
        #{current_store.name.titleize}'s Products


  .row-fluid
    .span12
      .span6
        %h4 Add New Product
  = render 'form'
