- provide(:title, 'Admin Add New Category')

%section#right-pane 
  .row.admin-header
    .span12
      %h3
        #{current_store.name.titleize}'s Categories


  .row-fluid
    .span12
      .span6
        %h3 Add New Category
  = render 'form'
